@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url(https://st4.depositphotos.com/5097585/30827/v/1600/depositphotos_308279880-stock-illustration-seamless-baby-pattern-babies-and.jpg);
  /* Füge die URL zum gewünschten Hintergrundbild ein */
  background-size: cover;
  background-position: center;
  overflow-y: auto;
}
.header {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  margin-top: 2rem;
  position: relative;
  z-index: 2;
}
.background-box {
  position: absolute;
  top: 1cm;
  left: 4cm;
  right: 4cm;
  bottom: 1cm;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  position: relative;
  z-index: 1;
  overflow-y: auto;
}
.box {
  width: 25%;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-color 0.3s;
  border: 2px solid #333;
  padding: 1rem;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}
.box:hover {
  background-color: #8b4513;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: #d2b48c;
}
.container .box {
  text-align: center;
}
.container .box:first-child {
  border-right: none;
}
.container .box:nth-child(2),
.container .box:nth-child(3) {
  border-left: none;
}
.container .box h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}
.sub-box {
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid #333;
  padding: 1rem;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sub-box:hover {
  background-color: #8b0000;
  color: #fff;
}
.search-box {
  width: 1cm;
  height: 1cm;
  border-radius: 50%;
  background-color: #8b0000;
  background-image: url('suchsymbol.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  transition: width 0.3s, height 0.3s, border-radius 0.3s, background-color 0.3s;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-style: italic;
  padding: 10px;
  box-sizing: border-box;
  display: none;
}
.search-box:hover input {
  display: block;
}
.search-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #161414;
  font-size: 0.8rem;
}
.box:hover .search-box {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  background-image: none;
  padding: 10px;
  box-sizing: border-box;
  color: #000;
  font-style: italic;
}
.result-box {
  width: 60%;
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
  background-color: #c2b7b7;
  z-index: 2;
  overflow-y: auto;
  position: relative;
}
.result-box h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}
/* * {
  font-family: 'Poppins';
}
body {
  background-color: #266DD3;
  margin: 0;
}
a:hover {
  cursor: pointer;
}
#pagination {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
ul li {
  color: #fff;
  display: flex;
}
ul li a {
  background-color: #444B6E;
  padding: 5px 10px;
  border: 2px solid #3D315B;
  border-right: 0;
}
ul li.active a {
  background-color: #9AB87A;
}
ul li:first-child a {
  border-radius: 5px 0 0 5px;
}
ul li:last-child a {
  border-radius: 0 5px 5px 0;
  border-right: 2px solid #3D315B;
} */
